.idea
venv
.idea
.vscode
data/output
/tmp
**/*.docx
**/__pycache__
**/.ipynb_checkpoints
*.csv
*.txt
*.xlsx
*.xls
*.7z
!requirements.txt
!*original_data_tree.txt
*.pickle
/modules
/notebooks
db.sqlite3
orm_approach/modules/consts/orm_list.py
orm_approach/log/log.log
