<!DOCTYPE>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Cookbook</title>
        <!-- CSS only -->
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </head>
<body>
<header>


</header>

  <section id="nav">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid" style="background-color:ffc0cb;">
          <a class="navbar-brand" href="#"> <img src="images/logo.png" alt="Cookbook Logo"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="new_account.html">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="text.html">Text</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
</section>
<section id="content">
<h1>Create new account</h1>
<br/>

<div class="form">
<form>
    <label for="imie" class="col-sm-2 col-form-label">Imie:*</label>
    <div class="col-sm-10">
<input class="form-control" type="text" placeholder="Imie" id="imie" required/>
<span id="errorname"></span>
</div>
<br/>
<label for="nazwisko">Nazwisko:*</label>
<input class="form-control" type="text" placeholder="Nazwisko" aria-label="default input example" id="nazwisko" required/>
<span id="errorname"></span>
<br/>
<label for="email">Adres email:*</label>
<input class="form-control" type="text" placeholder="Email" aria-label="default input example" required/>
<span id="errorname"></span>
<br/>
<label for="tel">Numer telefonu:</label>
<input class="form-control" type="text" placeholder="Numer telefonu" aria-label="default input example"/>

<div>
  <p id="errorSummary"></p>
  <input type="submit" value="Dodaj"/>
  <input type="reset" value="Anuluj"/>
</div>

</form>
<br/>
</div>
</section>
<section id="footer">
    Paulina Jasińska, s20442
</section>
<!-- </footer> -->
</body>
</html>