{% extends "index.html" %}
{% load rest_framework %}

{% block content %}
<center>
<h1>New receipe</h1>

<form action="{% url 'receipe-new' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="name">Nazwa:*</label>
        <input type="text" name="name" id="name" class="form-control" required/>
        <span id="errorname"></span>
        <br/>
        <label for="alcohol">Alkohol:</label>
        <select name="alcohol" id="alcohol" class="form-control">
            <option value="">Brak informacji</option>
            <option value=True>Tak</option>
            <option value=False>Nie</option>
        </select>
        <br/>
        <label for="text">Przepis:</label>
        <!-- <input type="text" name="receipetext" id="receipetext" required/> -->
        <textarea id="text_receipe" name="text_receipe" rows="5" cols="40" class="form-control"></textarea>
        <span id="erroratext"></span>
        <br/>
    </div>
    <input type="submit" value="Save" class="btn btn-secondary">
</form>
<center>
{% endblock %}