{% extends "index.html" %}
{% load rest_framework %}

{% block content %}

<h1>Receipe - {{ item.receipe }}</h1>

<form action="{% url 'receipe-detail' pk=profile.pk %}" method="POST">
    {% csrf_token %}
    {% render_form serializer %}
    <input type="hidden" name="_METHOD" value="PUT"/>
    <input type="submit" value="Save">
</form>
<form action="{% url 'receipe-detail' pk=profile.pk %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="_METHOD" value="DELETE"/>
    <input type="submit" value="Delete">
</form>

{% endblock %}